<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Home</button>
  </div>
    <button type="button" class="btn btn-default">About</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">My Work</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Skills</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Contact</button>
  </div>
</div>