<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HG</a>
    </div>
    
      <li class="vertical"><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="/about"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="/my-work"><span class="glyphicon glyphicon-book"></span></a></li>
      <li><a href="/skills"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span></a></li>
      <li><a href="/ask"><span class="btn btn-danger navbar-btn"></span></a></li>
  </div>
</nav>
</body>
</html>
